altgraph==0.14
certifi==2017.7.27.1
chardet==3.0.4
docutils==0.14
future==0.16.0
idna==2.6
Kivy==1.10.0
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.9
kivy.deps.sdl2==0.1.17
llvmlite==0.20.0
macholib==1.8
numba==0.35.0
numpy==1.13.3
olefile==0.44
pefile==2017.9.3
Pillow==4.3.0
Pygments==2.7.4
PyInstaller==3.3
pypiwin32==220
requests==2.18.4
urllib3==1.22
wincertstore==0.2
